.activity-fs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.activity-fs.activity-active {
    animation-name: activity-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.activity-fs.activity-inactive {
    animation-name: activity-out;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.activity-fs .activity-content {
    background-color: var(--background-1);
    height: 100%;
    width: 100%;
}

@keyframes activity-in {
    0% {
        top: 20%;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes activity-out {
    0% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 20%;
        opacity: 0;
    }
}
.activity-fs-background-0 .activity-fs-topbar {
    background-color: var(--afs-accent-1);
}

.activity-fs-background-1 .activity-fs-topbar {
    background-color: var(--afs-accent-2);
}

.activity-fs-background-2 .activity-fs-topbar {
    background-color: var(--afs-accent-3);
}

.activity-fs-background-3 .activity-fs-topbar {
    background-color: var(--afs-accent-4);
}

.activity-fs-background-4 .activity-fs-topbar {
    background-color: var(--afs-accent-5);
}

.activity-fs-cancel[type=button] {
    padding: 0em;
    width: 1em;
    height: 1em;
    border: none;
    background-color: transparent;
    color: white;
    position: absolute;
    right: 1em;
    top: 0.5em;
    background-color: transparent;
    transition: color 0.3s;

    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.activity-fs-cancel[type=button]:hover {
    color: red;
    background-color: transparent;
}

.activity-fs-topbar {
    position: relative;
    top: -1.5em;
    height: 4em;
    width: 100%;
    box-shadow: 0 4px 3px -1px grey;
}

.activity-fs-topbar h2 {
    padding-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 0px;
    color: white;
}

.loading-bar,
.loading-bar::before {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 100%;
    margin: 0;
    transition: height 0.2s;
}

.loading-bar-active,
.loading-bar-active:before {
    height: 3px;
}
.loading-bar-active {
    background-color: #b3d4fc;
    display: -webkit-flex;
    display: flex;
}
.loading-bar-active:before {
    background-color: #3f51b5;
    content: "";
    animation: loading-animation 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes loading-animation {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    50% {
        margin-left: 25%;
        margin-right: 0%;
    }
    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}
