.interactive-list-view {
}

.interactive-list-view .controls {
    
}


.entry-list-view {
    padding: 1em;
    width: 95%;
    border-bottom: 2px solid #aaa;
}


.entry-list-view-btns {
    float: right;
    position: relative;
    transform: translateY(-2em);
}
