.entry-form {
    font-family: "Roboto";
    --underline-color: var(--input-accent-selected);
    margin-left: 1em;
}

.entry-form div {
    margin-bottom: 1.5rem;
    position: relative;
    width: 20.4375rem;
}

.entry-form div input {
    margin-left: 0.75em;
    border: none;
    border-bottom: 0.125rem solid var(--input-accent-default);
    width: 75%;
    height: 2rem;
    font-size: 1.0625rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 0.825rem;
    padding-bottom: 0.5rem;

    color: var(--text);
}

.entry-form div input:focus {
    outline: none;
    border-color: var(--underline-color);
}

.entry-form div span {
    font-size: large;
    position: absolute;
    top: 0.9375rem;
    left: 0.875rem;
    line-height: 147.6%;
    margin-bottom: 0.5em;
    color: var(--input-placeholder);
    transition: all 0.2s;
    transform: translateY(-1em);
}

.entry-form div input:not(:placeholder-shown) + span,
.entry-form div input:focus + span {
    top: 0px;
    font-size: medium;
    color: var(--underline-color)
}
