@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "./activity-fs.css";
@import "./activity-snackbar.css";

* {
  user-select: none;
}

div, body, html {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.activity-root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.collection-list {
  
}

.collection-list li {
  padding: 1em;
  border-bottom: 2px solid grey;
}
.collection-list li p {
  font-size: larger;
}